@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-primary {
      @apply max-w-screen-xl mx-auto;
    }
    .primary-color {
      
      color: rgb(196, 170, 26);
      /* color: purple; */
     
      
    }
    .bg-primary {
      /* background-color: #b400ae; */
      background-color: white
    
    }
    .borderClr-primary {
      border-color: rgb(196, 170, 26);
    }
  }

