// ======
// fonts
// =====
@font-face {
  font-family: "vazir";
  src: url("../../fonts/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-Bold.woff") format("woff"),
    url("../../fonts/vazir/Vazir-Bold.ttf") format("truetype");
}

body {
  font-family: "vazir";
}
// ======
// fonts
// =====

.swiper {
  width: 100%;
  height: 100%;
}
